# Python tutorial Introduction

# https://docs.python.org/3.9/tutorial/introduction.html

# Data Structures

## More on Lists

### list.append(x)
### Add an item to the end of the list. Equivalent to a[len(a):] = [x].

### list.extend(iterable)
### Extend the list by appending all the items from the iterable. Equivalent to a[len(a):] = iterable.

### list.insert(i, x)
### Insert an item at a given position. The first argument is the index of the element before which to insert, so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).

### list.remove(x)
### Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

### list.pop([i])
### Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. (The square brackets(대괄호) around the i in the method signature denote that the parameter is optional, not that you should type square brackets at that position. You will see this notation frequently in the Python Library Reference.) 
### 소괄호(parentheses): ( ), 대괄호(square bracket): [ ], 중괄호(brace): { }

### list.clear()
### Remove all items from the list. Equivalent to del a[:].

### list.index(x[, start[, end]])
### Return zero-based index in the list of the first item whose value is equal to x. Raises a ValueError if there is no such item.

### The optional arguments start and end are interpreted as in the slice notation and are used to limit the search to a particular subsequence of the list. The returned index is computed relative to the beginning of the full sequence rather than the start argument.

### list.count(x)
### Return the number of times x appears in the list.

### list.sort(*, key=None, reverse=False)
### Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).

### list.reverse()
### Reverse the elements of the list in place.

### list.copy()
### Return a shallow copy of the list. Equivalent to a[:].

In [43]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [44]:
fruits.count('tangerine')

0

In [45]:
fruits.index('banana')

3

In [46]:
fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [47]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [48]:
fruits.append('grape')
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [49]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [50]:
fruits.pop()

'pear'

### You might have noticed that methods like insert, remove or sort that only modify the list have no return value printed – they return the default None

## Using Lists as Stacks

### The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved (“last-in, first-out”). To add an item to the top of the stack, use append(). To retrieve an item from the top of the stack, use pop() without an explicit index(명시적 인덱스)
### Stack구조는 Last In First Out(LIFO) 구조로 In은 put으로, Out은 pop으로, Queue는 First In First Out(FIFO)

## Using Lists as Queues

In [1]:
from collections import deque # implement a queue, use collections.deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue

deque(['Eric', 'John', 'Michael', 'Terry'])

In [2]:
queue.append("Graham")          # Graham arrives
queue

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [3]:
queue.popleft()                 # The first to arrive now leaves

'Eric'

In [4]:
queue.popleft()                 # The second to arrive now leaves

'John'

In [5]:
queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

## List Comprehensions

In [55]:
squares = []
for x in range(10):
    squares.append(x**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [57]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [59]:
squares = [x**2 for x in range(10)] # which is more concise and readable
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [62]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [6]:
[(x, y) for x in [1,2,3] 
             for y in [3,1,4] 
                     if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [61]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

### If the expression is a tuple (e.g. the (x, y) in the previous example), it must be parenthesized(괄호안에)

In [63]:
vec = [-4, -2, 0, 2, 4]
# create a new list with the values doubled
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [64]:
# filter the list to exclude negative numbers
[x for x in vec if x >= 0]

[0, 2, 4]

In [66]:
# apply a function to all the elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [68]:
# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit] # Remove spaces at the beginning and at the end of the string

['banana', 'loganberry', 'passion fruit']

In [7]:
# create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [8]:
# the tuple must be parenthesized, otherwise an error is raised
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (3265058268.py, line 2)

In [9]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)] # round함수 소숫점

['3.1', '3.14', '3.142', '3.1416', '3.14159']

## Nested List Comprehensions

In [75]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [76]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [77]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [78]:
transposed = []
for i in range(4):
    # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [79]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

### zip()활용예제

In [13]:
# 3개의 리스트
num = [1, 2, 3]
fruit = ['apple', 'banana', 'orange']
color = ['red', 'yellow', 'orange']
# zip함수를 이용한 출력값
# [(1, 'apple', 'red'), (2, 'banana', 'yellow'), (3, 'orange', 'orange')]
list(zip(num, fruit, color))

[(1, 'apple', 'red'), (2, 'banana', 'yellow'), (3, 'orange', 'orange')]

# The del statement

### There is a way to remove an item from a list given its index instead of its value: the del statement. This differs from the pop() method which returns a value

In [84]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [85]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [86]:
del a[:]
a

[]

In [88]:
del a
a

NameError: name 'a' is not defined

# Tuples and Sequences

### We saw that lists and strings have many common properties, such as indexing and slicing operations. They are two examples of sequence data types (see Sequence Types — list, tuple, range)

In [90]:
t = 12345, 54321, 'hello!' # A tuple consists of a number of values separated by commas
t

(12345, 54321, 'hello!')

In [91]:
t[0]

12345

In [92]:
t

(12345, 54321, 'hello!')

In [93]:
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [94]:
# Tuples are immutable:
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [95]:
# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

### Tuples are immutable, Lists are mutable

In [96]:
empty = ()
singleton = 'hello',    # <-- note trailing comma(후행 쉼표)
len(empty)

0

In [97]:
len(singleton)

1

In [98]:
singleton

('hello',)

### The statement t = 12345, 54321, 'hello!' is an example of tuple packing: the values 12345, 54321 and 'hello!' are packed together in a tuple. The reverse operation is also possible

In [100]:
x, y, z = t
t

(12345, 54321, 'hello!')

In [101]:
x

12345

In [102]:
y

54321

In [103]:
z

'hello!'

# Sets

### Curly braces or the set() function can be used to create sets. Note: to create an empty set you have to use set(), not {}; the latter creates an empty dictionary, a data structure that we discuss in the next section

In [105]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

{'pear', 'banana', 'apple', 'orange'}

In [106]:
'orange' in basket                 # fast membership testing

True

In [107]:
'crabgrass' in basket

False

In [15]:
 # Demonstrate set operations on unique letters from two words
a = set('abracadabra')
b = set('alacazam')
a                  # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [16]:
b

{'a', 'c', 'l', 'm', 'z'}

In [110]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [113]:
a | b                              # letters in a or b or both,  |=or

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [114]:
a & b                              # letters in both a and b

{'a', 'c'}

In [115]:
a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

## 비트연산자

### &   
### 비트 AND
### a & b
### a와 b의 비트를 AND 연산

### |
### 비트 OR
### a | b
### a와 b의 비트를 OR 연산

### ^
### 비트 XOR
### a ^ b
### a와 b의 비트를 XOR 연산(배타적 OR, Exclusive OR)

### ~
### 비트 NOT
### ~x
### x의 비트를 뒤집음

### << 
### 비트 왼쪽 시프트
### a << b
### a의 비트를 b번 왼쪽으로 이동시킴

### >> 
### 비트 오른쪽 시프트
### a >> b
### a의 비트를 b번 오른쪽으로 이동시킴

### &=
### 비트 AND 연산 후 할당
### a &= b
### a와 b의 비트를 AND 연산한 후 결과를 a에 할당

### |=
### 비트 OR 연산 후 할당
### a |= b
### a와 b의 비트를 OR 연산한 후 결과를 a에 할당

### ^=
### 비트 XOR 연산 후 할당
### a ^= b
### a와 b의 비트를 XOR 연산한 후 결과를 a에 할당

### <<=
### 비트 왼쪽 시프트 후 할당
### a <<= b
### a의 비트를 b번 왼쪽으로 이동시킨 후 결과를 a에 할당

### >>=
### 비트 오른쪽 시프트 후 할당

### a >>= b
### a의 비트를 b번 오른쪽으로 이동시킨 후 결과를 a에 할당

### is: ==, and: &, or: |, xor: ^, not: ~

In [117]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

## Dictionaries

### which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys. Tuples can be used as keys if they contain only strings, numbers, or tuples; if a tuple contains any mutable object either directly or indirectly, it cannot be used as a key. You can’t use lists as keys, since lists can be modified in place using index assignments, slice assignments, or methods like append() and extend().

### It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output

### The main operations on a dictionary are storing a value with some key and extracting the value given the key. It is also possible to delete a key:value pair with del. If you store using a key that is already in use, the old value associated with that key is forgotten. It is an error to extract a value using a non-existent key.

### Performing list(d) on a dictionary returns a list of all the keys used in the dictionary, in insertion order (if you want it sorted, just use sorted(d) instead). To check whether a single key is in the dictionary, use the in keyword.

In [118]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [119]:
tel['jack']

4098

In [120]:
del tel['sape']
tel['irv'] = 4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [121]:
list(tel)

['jack', 'guido', 'irv']

In [122]:
sorted(tel)

['guido', 'irv', 'jack']

In [123]:
'guido' in tel

True

In [124]:
'jack' not in tel

False

### The dict() constructor builds dictionaries directly from sequences of key-value pairs

In [125]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [126]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [127]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

# Looping Techniques

In [131]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [135]:
for i, v in enumerate(['tic', 'tac', 'toe']): # enumerate()는 반복 가능한 반복 중에 자동 카운터를 사용할 수 있는 파이썬의 내장 함수, 
                                # enumerate(iterable, start=0) , start - 카운터가 시작되는 번호입니다. 선택사항. 카운터는 0부터 시작
        print(i, v)

0 tic
1 tac
2 toe

In [136]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [19]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [138]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

In [140]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):  # Using set() on a sequence eliminates duplicate elements
    print(f)

apple
banana
orange
pear

In [141]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

# More on Conditions

In [142]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
non_null

'Trondheim'

In [143]:
string1, string2, string3 = '', 'Hammer Dance', 'Trondheim'
non_null = string1 or string2 or string3
non_null

'Hammer Dance'